.body{
    background-image: url(../../../assets/imags/dashboard/6.png);
    background-position: center center;
    background-repeat: no-repeat;
    height: 800px;
    width: 1499px;
    background-size: cover;
    background-attachment: fixed;
}

.hide{
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
}
.group{
    position: relative;
    bottom: 760px;
    left: 300px;
}

.hideimg{
    background-color: rgb(19, 18, 18);
    height: 100%;
    border-radius: 50%;

}
.card{
    background-color: #6e340087;
}

.card-img, .card-img-bottom, .card-img-top {
    flex-shrink: 0;
    width: 90%;
    margin: auto;
}